name: Check

on: pull_request

permissions:
  contents: read
  pull-requests: read

jobs:
  golangci:
    name: lint

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.4

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
